#encabezado{
    background-color: black;
    color: white;
    text-align: center;
    width: 800px;
}

#formulario{
 background-color: brown;
 width: 800px;   
}

h2{
    background-color: black;
    color: white;
    text-align: justify;
    padding-left: 5px;
}

#lblresultados{
    background-color: rgb(80, 1, 1);
    color: white;
    padding-left: 10px;
    width: 500px;
}

.cuerpoForma{
    display: flex;
}


#inputsresultados{
    width: 500px;
    background-color: blue;
    padding-top: 20px;
    
    padding-left: 20px;
    padding-right: 20px;
}


#botones{
    background-color: black;
    width: 500px;
    padding-top: 75px;


}

button{
    height: 50px;
    width: 50px;

}






